@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1554213069110'); /* IE9 */
  src: url('iconfont.eot?t=1554213069110#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkQAAAJQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQdAE2AiQDCAsGAAQgBYRtBy0blwUR1Ytfsj9ClMNMDe6oESKz16SxJUcB223fS4anAWash/qBcgdcBaoAAAAAgHh4WvvfubPzbPa7Ih7pZp4IXROkRoiERDOJYiEvbIwFOrwzN7igRCNO5IdHOQFk6jtgggdQpjC7J20qQKqmNWeakXUDXFO5DwDYgDNdNTDc/01c87e5GhWh+iDfjjz6wuWB04wMuJz+fwUUyDygXMYYNObAMQEDSwPdA9tkRRJ5w9gFLuE8gWLBJrGzgycls6YF4qE715TzyTJLdoV2zdosXpJuep7Ci/D78VcRSatilR29veum/8BOq24+n+CHgDa3UGETMnGyNnYYgjErZbtWIMuCHzQNtoq9mgT766zCPjAHxfckcaW3WphAjgensGbUY0h9fddef/i8a73NFoqiVkfdiJ9sgS/05GnSM+d3xNDEFYFg7E8Xrgx2dQYf/YeeJuvnoLs3e/BXJD07si6zLCmrklpHMjVqakJR0MCuEd/H6sdvIRW6xm/E0TGfotK1isyMTWipbUZb1xYUG+3ZXBv1CCL3sMFjgDDkFZIBr1EZ8obMjG9omfAfbUMBitPhnrU1wTBHgVNE8n/qwjKzY1MTFd/QvEcnWVnIekFSF6TSFsXkFTNkjgXp01SqTCzLRBdwGcZxoVWWHkFtq7rWec51b7JhmTLjKHCKSP5PXVhm9vurKX3+huY9OmmpqfG/IKkbnkpb9CCv6rlXzb1ckz5NpcrEskx0AaMwjgut9aN6BLXtiMha53Yv7qu262unDyhiDViGFHZV5XAtxiwDAAA=') format('woff2'),
  url('iconfont.woff?t=1554213069110') format('woff'),
  url('iconfont.ttf?t=1554213069110') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554213069110#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-add:before {
  content: "\e661";
}

