
.member {


  .member_header {
    width: 100%;
    height: 170px;
    background: #47ae38;
    position: relative;

    .member_header-content {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translate(-50%);

      .member_header-head {
        width: 140px;
        height: 140px;
        margin: 0 auto 23px;
        border-radius: 100%;
      }
    }
  }

  .member_menu {
    margin-top: 167px;
    padding: 0 84px 0 102px;

    .menu_list {
      .menu_image {
        width: 40px;
        height: 40px;
        margin: 0 auto 22px;
        position: relative;
      }
    }
  }

  .member_content {
    padding: 0 20px;
    margin-top: 40px;
  }

  .recent_order {
    background: #fafafc;
    border-top: 1px solid #dedede;
    padding: 29px 40px 25px 49px;

    .order_list-content {
      width: 100%;
      height: 379px;
      border: 1px solid #dedede;
      border-radius: 10px;
      margin-top: 30px;
      box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05);
      position: relative;

      .list_content-head {
        padding: 24px 23px 25px 19px;


        .list_content-icon {
          width: 38px;
          height: 38px;
          margin-right: 8px;
        }
      }

      .list_content-content {
        padding: 0 23px 0 19px;


        .list_content-detail {
          border-top: 1px solid #dedede;
          padding-top: 23px;
        }

        .list_content-image {
          width: 100px;
          height: 100px;
          margin-right: 21px;
        }

        .list_content-evaluate {
          width: 168px;
          height: 58px;
          border-radius: 58px;
          text-align: center;
          line-height: 58px;
          border: 1px solid #f9b550;
          color: #f9b550;
          position: absolute;
          bottom: 45px;
          right: 17px;
        }
      }
    }
  }

}
